// Forms
fieldset {
	border: none;
	margin: 0;
	min-width: 0;
	padding: 0;

	legend {
		border: 0;
		padding: 0;
	}
}

.form-group {
	.input-field {
		margin-bottom: $spacing;
	}

	.input-helper {
		margin-top: -($spacing-extra-small + $spacing-small);
	}

	.range {
		margin-bottom: $spacing;

		+ .input-helper {
			margin-top: -($spacing-extra-small + $spacing-small);
		}
	}

	.radio {
		+ .label {
			margin-bottom: $spacing-small;
		}
	}

	.checkbox {
		+ .label {
			margin-bottom: $spacing-small;
		}
	}

	.button {
		margin-bottom: $spacing;
	}
}

.form-inline .input-field {
	width: auto;
}

.label {
	display: inline-block;
	@if $form-label-color != $color-default {
		color: $form-label-color;
	}
	margin-bottom: $spacing-extra-small;
	touch-action: manipulation;
	user-select: none;

	&.required:after {
		color: $form-label-required-color;
		content: '*';
		margin-left: $spacing-extra-small;
	}
}

.input-field {
	appearance: none;
	background-color: $form-background-color;
	@if $form-border {
		border: $form-border-width $form-border-style $form-border-color;
	}
	@else {
		border: none;
	}
	border-radius: $form-border-radius;
	color: $form-color;
	font-family: $font-family;
	font-size: $form-font-size;
	line-height: $line-height;
	margin: 0;
	padding: $form-spacing-vertical $form-spacing-horizontal;
	touch-action: manipulation;
	@if $form-transition {
		transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property, background-image $form-transition-speed $form-transition-property;
	}
	width: 100%;

	&::placeholder {
		color: $form-placeholder-color;
		opacity: 1;
	}

	@if $form-hover {
		&:hover:enabled {
			@if $form-hover-background-color != $form-background-color {
				background-color: $form-hover-background-color;
			}
			@if $form-hover-border-color != $form-border-color {
				border-color: $form-hover-border-color;
			}
			@if $form-hover-color != $form-color {
				color: $form-hover-color;
			}
		}
	}

	&:focus {
		@if $form-focus {
			@if $form-focus-background-color != $form-background-color {
				background-color: $form-focus-background-color;
			}
			@if $form-focus-border-color != $form-border-color {
				border-color: $form-focus-border-color;
			}
			@if $form-focus-color != $form-color {
				color: $form-focus-color;
			}
		}
		outline: 0;
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&.large {
		@if $form-border-radius-large != $form-border-radius {
			border-radius: $form-border-radius-large;
		}
		@if $form-border-width-large != $form-border-width {
			border-width: $form-border-width-large;
		}
		@if $form-font-size-large != $form-font-size {
			font-size: $form-font-size-large;
		}
		@if $form-spacing-horizontal-large != $form-spacing-horizontal {
			padding-left: $form-spacing-horizontal-large;
			padding-right: $form-spacing-horizontal-large;
		}
		@if $form-spacing-vertical-large != $form-spacing-vertical {
			padding-bottom: $form-spacing-vertical-large;
			padding-top: $form-spacing-vertical-large;
		}
	}

	&.small {
		@if $form-border-radius-small != $form-border-radius {
			border-radius: $form-border-radius-small;
		}
		@if $form-border-width-small != $form-border-width {
			border-width: $form-border-width-small;
		}
		@if $form-font-size-small != $form-font-size {
			font-size: $form-font-size-small;
		}
		@if $form-spacing-horizontal-small != $form-spacing-horizontal {
			padding-left: $form-spacing-horizontal-small;
			padding-right: $form-spacing-horizontal-small;
		}
		@if $form-spacing-vertical-small != $form-spacing-vertical {
			padding-bottom: $form-spacing-vertical-small;
			padding-top: $form-spacing-vertical-small;
		}
	}

	&.error {
		@if $form-error-background-color != $form-background-color {
			background-color: $form-error-background-color;
		}
		@if $form-border {
			@if $form-error-border-color != $form-border-color {
				border-color: $form-error-border-color;
			}
		}
		@if $form-error-border-color != $form-color {
			color: $form-error-color;
		}

		&:-moz-ui-invalid {
		  box-shadow: none;
		}
	}

	&:disabled {
		@if $form-disabled-background-color != $form-background-color {
			background-color: $form-disabled-background-color;
		}
		@if $form-border {
			@if $form-disabled-border-color != $form-border-color {
				border-color: $form-disabled-border-color;
			}
		}
		@if $form-disabled-color != $form-color {
			color: $form-disabled-color;
		}
		cursor: not-allowed;
		opacity: 1;
		user-select: none;
	}
}

input[type="number"].input-field {
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		height: auto;
	}
}

input[type="search"].input-field {
	&::-webkit-search-cancel-button, &::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

@function url-friendly-color($color) {
	@return '%23' + str-slice('#{$color}', 2, -1);
}

select.input-field:not([multiple]) {
	background-image: url('data:image/svg+xml,<svg%20width%3D"10"%20height%3D"5"%20viewBox%3D"169%20177%2010%205"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><path%20fill%3D"#{url-friendly-color($form-color)}"%20fill-rule%3D"evenodd"%20d%3D"M174%20182l5-5h-10"%2F><%2Fsvg>');
	background-position: right $spacing-small center;
	background-repeat: no-repeat;
	background-size: $spacing-small $spacing-extra-small;
	padding-right: ($form-spacing-horizontal * 2) + $spacing-small;

	&::-ms-expand {
		display: none;
	}

	@if $form-hover {
		@if $form-hover-border-color != $form-border-color {
			&:hover {
				background-image: url('data:image/svg+xml,<svg%20width%3D"10"%20height%3D"5"%20viewBox%3D"169%20177%2010%205"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><path%20fill%3D"#{url-friendly-color($form-hover-color)}"%20fill-rule%3D"evenodd"%20d%3D"M174%20182l5-5h-10"%2F><%2Fsvg>');
			}
		}
	}

	&:focus {
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}

		@if $form-focus {
			@if $form-focus-border-color != $form-border-color {
				background-image: url('data:image/svg+xml,<svg%20width%3D"10"%20height%3D"5"%20viewBox%3D"169%20177%2010%205"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><path%20fill%3D"#{url-friendly-color($form-focus-color)}"%20fill-rule%3D"evenodd"%20d%3D"M174%20182l5-5h-10"%2F><%2Fsvg>');
			}
		}
	}

	&.large {
		@if $form-spacing-horizontal-large != $form-spacing-horizontal {
			padding-right: ($form-spacing-horizontal-large * 2) + $spacing-small;
		}
	}

	&.small {
		@if $form-spacing-horizontal-small != $form-spacing-horizontal {
			padding-right: ($form-spacing-horizontal-small * 2) + $spacing-small;
		}
	}

	optgroup {
		font-weight: bold;
	}

	@if $form-disabled-color != $form-color {
		option:disabled {
			color: $form-disabled-color;
		}
	}
}

textarea.input-field {
	overflow: auto;
	resize: vertical;
}

// input[type="color"].input-field {
//   cursor: pointer;
//   height: $spacing;
//   padding: 0 !important;
//   width: $spacing !important;

//   &::-webkit-color-swatch-wrapper {
//     padding: 0;
//   }
//   &::-webkit-color-swatch {
//     border: none;
//     border-radius: $form-border-radius;
//   }

// 	&.large + label:before {
// 		@if $form-border-radius-large != $form-border-radius {
// 			border-radius: $form-border-radius-large;
// 		}
// 		@if $form-border-width-large != $form-border-width {
// 			border-width: $form-border-width-large;
// 		}
// 		height: $checkbox-size-large;
// 		width: $checkbox-size-large;
// 	}

// 	&.small + label:before {
// 		@if $form-border-radius-small != $form-border-radius {
// 			border-radius: $form-border-radius-small;
// 		}
// 		@if $form-border-width-small != $form-border-width {
// 			border-width: $form-border-width-small;
// 		}
// 		height: $checkbox-size-small;
// 		width: $checkbox-size-small;
// 	}
// }

@mixin range-track() {
	background-color: $form-background-color;
	@if $form-border {
		border: $form-border-width $form-border-style $form-border-color;
	}
	@if $form-border-radius > 0 {
	  border-radius: $form-border-radius;
  }
	cursor: pointer;
	height: $range-size;
	@if $form-transition {
		transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
	}
	width: 100%;
}

@mixin range-thumb() {
  appearance: none;
	background-color: $color-default-lighter;
  @if $form-border {
	  border: $form-border-width $form-border-style $color-default-light;
  } @else {
    border: none;
  }
  border-radius: $form-border-radius;
	cursor: pointer;
	height: $range-size;
	@if $form-border {
  	margin-top: -$form-border-width;
	}
	@if $form-transition {
		transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
	}
	width: $range-size;
}

@mixin range-track-hover() {
	@if $form-hover-background-color != $form-background-color {
		background-color: $form-hover-background-color;
	}
	@if $form-hover-border-color != $form-border-color {
		border-color: $form-hover-border-color;
	}
}

@mixin range-thumb-hover() {
	@if $form-hover-background-color != $form-background-color {
		background-color: $form-hover-background-color;
	}
	@if $form-hover-border-color != $form-border-color {
		border-color: $form-hover-border-color;
	}
}

@mixin range-track-focus() {
	@if $form-focus-background-color != $form-background-color {
		background-color: $form-focus-background-color;
	}
	@if $form-focus-border-color != $form-border-color {
		border-color: $form-focus-border-color;
	}
}

@mixin range-thumb-focus() {
	@if $form-focus-background-color != $form-background-color {
		background-color: $form-focus-background-color;
	}
	@if $form-focus-border-color != $form-border-color {
		border-color: $form-focus-border-color;
	}
}

@mixin range-track-large() {
	@if $form-border-radius-large != $form-border-radius {
		border-radius: $form-border-radius-large;
	}
	@if $form-border-width-large != $form-border-width {
		border-width: $form-border-width-large;
	}
	height: $range-size-large;
}

@mixin range-thumb-large() {
	@if $form-border-radius-large != $form-border-radius {
		border-radius: $form-border-radius-large;
	}
	@if $form-border-width-large != $form-border-width {
		border-width: $form-border-width-large;
	}
	height: $range-size-large;
	width: $range-size-large;
}

@mixin range-track-small() {
	@if $form-border-radius-small != $form-border-radius {
		border-radius: $form-border-radius-small;
	}
	@if $form-border-width-small != $form-border-width {
		border-width: $form-border-width-small;
	}
	height: $range-size-small;
}

@mixin range-thumb-small() {
	@if $form-border-radius-small != $form-border-radius {
		border-radius: $form-border-radius-small;
	}
	@if $form-border-width-small != $form-border-width {
		border-width: $form-border-width-small;
	}
	height: $range-size-small;
	width: $range-size-small;
}

@mixin range-track-disabled {
	@if $form-disabled-background-color != $form-background-color {
		background-color: $form-disabled-background-color;
	}
	@if $form-disabled-border-color != $form-border-color {
		border-color: $form-disabled-border-color;
	}
	cursor: not-allowed;
}

@mixin range-thumb-disabled {
	cursor: not-allowed;
}

.range {
	appearance: none;
	background-color: transparent;
	margin: 0;
	width: 100%;

	&::-webkit-slider-runnable-track {
		@include range-track();
	}

	&::-moz-range-track {
		@include range-track();
	}

	&::-ms-track {
		@include range-track();
	}

	&::-ms-fill-lower {
		background-color: $form-background-color;
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
	}

	&::-ms-fill-upper {
		background-color: $form-background-color;
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
	}

	&::-webkit-slider-thumb {
		@include range-thumb();
	}

	&::-moz-range-thumb {
		@include range-thumb();
	}

	&::-ms-thumb {
		@include range-thumb();
	}

	@if $form-hover {
		&:hover:enabled {
			&::-webkit-slider-runnable-track {
				@include range-track-hover();
			}

			&::-moz-range-track {
				@include range-track-hover();
			}

			&::-ms-track {
				@include range-track-hover();
			}

			&::-webkit-slider-thumb {
				@include range-thumb-hover();
			}

			&::-moz-range-thumb {
				@include range-thumb-hover();
			}

			&::-ms-thumb {
				@include range-thumb-hover();
			}
		}
	}

	&:focus {
		outline: none;

		&::-moz-focus-outer {
			border: 0;
		}

		@if $form-focus {
			&::-webkit-slider-runnable-track {
				@include range-track-focus();
			}

			&::-moz-range-track {
				@include range-track-focus();
			}

			&::-ms-track {
				@include range-track-focus();
			}

			&::-webkit-slider-thumb {
				@include range-thumb-focus();
			}

			&::-moz-range-thumb {
				@include range-thumb-focus();
			}

			&::-ms-thumb {
				@include range-thumb-focus();
			}
		}
	}

	&.large {
		&::-webkit-slider-runnable-track {
			@include range-track-large();
		}

		&::-moz-range-track {
			@include range-track-large();
		}

		&::-ms-track {
			@include range-track-large();
		}

		&::-ms-fill-lower {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
		}

		&::-ms-fill-upper {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
		}

		&::-webkit-slider-thumb {
			@include range-thumb-large();
		}

		&::-moz-range-thumb {
			@include range-thumb-large();
		}

		&::-ms-thumb {
			@include range-thumb-large();
		}
	}

	&.small {
		&::-webkit-slider-runnable-track {
			@include range-track-small();
		}

		&::-moz-range-track {
			@include range-track-small();
		}

		&::-ms-track {
			@include range-track-small();
		}

		&::-ms-fill-lower {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
		}

		&::-ms-fill-upper {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
		}

		&::-webkit-slider-thumb {
			@include range-thumb-small();
		}

		&::-moz-range-thumb {
			@include range-thumb-small();
		}

		&::-ms-thumb {
			@include range-thumb-small();
		}
	}

	&:disabled {
		&::-webkit-slider-runnable-track {
			@include range-track-disabled();
		}

		&::-moz-range-track {
			@include range-track-disabled();
		}

		&::-ms-track {
			@include range-track-disabled();
		}

		&::-webkit-slider-thumb {
			@include range-thumb-disabled();
		}

		&::-moz-range-thumb {
			@include range-thumb-disabled();
		}

		&::-ms-thumb {
			@include range-thumb-disabled();
		}
	}
}

.radio {
	display: none;

	+ .label {
		cursor: pointer;
		padding-left: $radio-size + $spacing-extra-small;

		&:before {
			background-color: $form-background-color;
			@if $form-border {
				border: $form-border-width $form-border-style $form-border-color;
			}
			border-radius: 50%;
			content: '';
			display: inline-block;
			height: $radio-size;
			margin-bottom: -$spacing-extra-small;
			margin-left: -($radio-size + $spacing-extra-small);
			margin-right: $spacing-extra-small;
			@if $form-transition {
				transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property, box-shadow $form-transition-speed $form-transition-property;
			}
			vertical-align: top;
			width: $radio-size;
		}

		&.required:after {
			color: $form-label-required-color;
			content: '*';
			margin-left: $spacing-extra-small;
		}

		@if $form-hover {
			&:hover:enabled:before {
				@if $form-hover-background-color != $form-background-color {
					background-color: $form-hover-background-color;
				}
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}
		}
	}

	&.large + .label {
    padding-left: $radio-size-large + $spacing-extra-small;
    
    &:before {
      @if $form-border-width-large != $form-border-width {
        border-width: $form-border-width-large;
      }
      height: $radio-size-large;
      margin-left: -($radio-size-large + $spacing-extra-small);
      width: $radio-size-large;
    }
  }

  &.small + .label {
    padding-left: $radio-size-small + $spacing-extra-small;
    
    &:before {
      @if $form-border-width-small != $form-border-width {
        border-width: $form-border-width-small;
      }
      height: $radio-size-small;
      margin-left: -($radio-size-small + $spacing-extra-small);
      width: $radio-size-small;
    }
  }

	&.error + .label:before {
		@if $form-error-background-color {
			background-color: $form-error-background-color;
		}
		@if $form-border {
			@if $form-error-border-color {
				border-color: $form-error-border-color;
			}
		}
	}

	&:disabled + .label {
		@if $form-disabled-color != $form-color {
			color: $form-disabled-color;
		}
		cursor: not-allowed;

		&:before {
			@if $form-disabled-background-color != $form-background-color {
				background-color: $form-disabled-background-color;
			}
			@if $form-border {
				@if $form-disabled-border-color != $form-border-color {
					border-color: $form-disabled-border-color;
				}
			}
		}
	}

	&:checked + .label:before {
		background-color: $form-checked-color;
		border-color: $form-checked-color;
		box-shadow: inset 0 0 0 2px $background-color-default;
	}
}

.checkbox {
	display: none;

	+ .label {
		cursor: pointer;
		padding-left: $checkbox-size + $spacing-extra-small;

		&:before {
			background-color: $form-background-color;
			@if $form-border {
				border: $form-border-width $form-border-style $form-border-color;
			}
			@if $form-border-radius > 0 {
				border-radius: $form-border-radius;
			}
			content: '';
			display: inline-block;
			height: $checkbox-size;
			margin-bottom: -$spacing-extra-small;
			margin-left: -($checkbox-size + $spacing-extra-small);
			margin-right: $spacing-extra-small;
			@if $form-transition {
				transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property, box-shadow $form-transition-speed $form-transition-property;
			}
			vertical-align: top;
			width: $checkbox-size;
		}

		@if $form-hover {
			&:hover:enabled:before {
				@if $form-hover-background-color != $form-background-color {
					background-color: $form-hover-background-color;
				}
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}
		}

		&.required:after {
			color: $form-label-required-color;
			content: '*';
			margin-left: $spacing-extra-small;
		}
	}

	&.large + .label {
    padding-left: $checkbox-size-large + $spacing-extra-small;
    
    &:before {
      @if $form-border-width-large != $form-border-width {
        border-width: $form-border-width-large;
      }
      height: $checkbox-size-large;
      margin-left: -($checkbox-size-large + $spacing-extra-small);
      width: $checkbox-size-large;
    }
  }

  &.small + .label {
    padding-left: $checkbox-size-small + $spacing-extra-small;
    
    &:before {
      @if $form-border-width-small != $form-border-width {
        border-width: $form-border-width-small;
      }
      height: $checkbox-size-small;
      margin-left: -($checkbox-size-small + $spacing-extra-small);
      width: $checkbox-size-small;
    }
  }

	&.error + .label:before {
		@if $form-error-background-color {
			background-color: $form-error-background-color;
		}
		@if $form-border {
			@if $form-error-border-color {
				border-color: $form-error-border-color;
			}
		}
	}

	&:disabled + .label {
		@if $form-disabled-color != $form-color {
			color: $form-disabled-color;
		}
		cursor: not-allowed;

		&:before {
			@if $form-disabled-background-color != $form-background-color {
				background-color: $form-disabled-background-color;
			}
			@if $form-border {
				@if $form-disabled-border-color != $form-border-color {
					border-color: $form-disabled-border-color;
				}
			}
		}
	}

	&:checked + .label:before {
		background-color: $form-checked-color;
		border-color: $form-checked-color;
		box-shadow: inset 0 0 0 2px $background-color-default;
	}
}

.input-helper {
	color: $form-helper-color;
	font-size: $form-font-size-small;
	margin-top: $spacing-extra-small;
	margin-bottom: $spacing;

	&.error {
		color: $form-helper-error-color;
	}
}

[role="button"] {
	cursor: pointer;
}

.button {
	background-color: $color-default-lighter;
	@if $form-border {
		border: $form-border-width $form-border-style $form-border-color;
	}
	@else {
		border: none;
	}
	@if $form-border-radius > 0 {
	  border-radius: $form-border-radius;
  }
	color: $form-color;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family;
	font-size: $form-font-size;
	line-height: $line-height;
	padding: $form-spacing-vertical $form-spacing-horizontal;
	text-align: center;
	text-decoration: none;
	@if $form-transition {
		transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
	}
	touch-action: manipulation;
	user-select: none;
	vertical-align: middle;

	&.large {
		@if $form-border-radius-large != $form-border-radius {
			border-radius: $form-border-radius-large;
		}
		@if $form-border-width-large != $form-border-width {
			border-width: $form-border-width-large;
		}
		@if $form-font-size-large != $form-font-size {
			font-size: $form-font-size-large;
		}
		@if $form-spacing-horizontal-large != $form-spacing-horizontal {
			padding-left: $form-spacing-horizontal-large;
			padding-right: $form-spacing-horizontal-large;
		}
		@if $form-spacing-vertical-large != $form-spacing-vertical {
			padding-bottom: $form-spacing-vertical-large;
			padding-top: $form-spacing-vertical-large;
		}
	}

	&.small {
		@if $form-border-radius-small != $form-border-radius {
			border-radius: $form-border-radius-small;
		}
		@if $form-border-width-small != $form-border-width {
			border-width: $form-border-width-small;
		}
		@if $form-font-size-small != $form-font-size {
			font-size: $form-font-size-small;
		}
		@if $form-spacing-horizontal-small != $form-spacing-horizontal {
			padding-left: $form-spacing-horizontal-small;
			padding-right: $form-spacing-horizontal-small;
		}
		@if $form-spacing-vertical-small != $form-spacing-vertical {
			padding-bottom: $form-spacing-vertical-small;
			padding-top: $form-spacing-vertical-small;
		}
	}

	&.full {
		width: 100%;
	}

	&:hover {
		@if $form-hover {
			background-color: darken($color-default-lighter, 10%);
			border-color: darken($form-border-color, 10%);
		}
		color: $form-color;

		@if $form-hover {
			&:disabled {
				background-color: $color-default-lighter;
				border-color: $form-border-color;
			}
		}
	}

	&:focus, &:active {
		@if $form-focus {
			background-color: darken($color-default-lighter, 20%);
			border-color: darken($form-border-color, 20%);
		}
		color: $form-color;

		@if $form-focus {
			&:disabled {
				background-color: $color-default-lighter;
				border-color: $form-border-color;
			}
		}
	}

	@each $color-key, $color-value in $colors {
		&.#{$color-key} {
			background-color: color($color-key, base);
			border-color: color($color-key, base);
			color: $background-color-default;

			&:hover {
				@if $form-hover {
					background-color: color($color-key, dark);
					border-color: color($color-key, dark);
				}
				color: $background-color-default;		

				@if $form-hover {
					&:disabled {
						background-color: color($color-key, base);
						border-color: color($color-key, base);
					}
				}
			}

			&:focus, &:active {
				@if $form-focus {
					background-color: color($color-key, darker);
					border-color: color($color-key, darker);

				}
				color: $background-color-default;

				@if $form-focus {
					&:disabled {
						background-color: color($color-key, base);
						border-color: color($color-key, base);
					}
				}
			}
		}
	}

	@if $form-border {
		&.inverted {
			background-color: $form-background-color;
			border-color: $form-border-color;
			color: $form-color;
			@if $form-transition {
				transition: background-color $form-transition-speed $form-transition-property, color $form-transition-speed $form-transition-property;
			}

			@if $form-hover {
				&:hover {
					background-color: $color-default-lighter;

					&:disabled {
						background-color: $form-background-color;
					}
				}
			}

			@if $form-focus {
				&:focus, &:active {
					background-color: $color-default-lighter;

					&:disabled {
						background-color: $form-background-color;
					}
				}
			}

			@each $color-key, $color-value in $colors {
				&.#{$color-key} {
					border-color: color($color-key, base);
					color: color($color-key, base);

					&:hover {
						@if $form-hover {
							background-color: color($color-key, base);
							border-color: color($color-key, base);

						}
						color: $background-color-default;

						@if $form-hover {
							&:disabled {
								background-color: $form-background-color;
								border-color: color($color-key, base);
								color: color($color-key, base);
							}
						}
					}

					&:focus, &:active {
						@if $form-focus {
							background-color: color($color-key, base);
							border-color: color($color-key, base);
						}
						color: $background-color-default;

						@if $form-focus {
							&:disabled {
								background-color: $form-background-color;
								border-color: color($color-key, base);
								color: color($color-key, base);
							}
						}
					}
				}
			}
		}
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .5;
	}
}

button.button {
	margin: 0;
	overflow: visible;

	&:focus {
		outline: 0;
	}

	&::-moz-focus-inner {
		border: 0;
		margin: 0;
		padding: 0;
	}
}