// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;

  caption, th {
    text-align: left;
  }

  &.table {
    @if $table-background-color != transparent {
      background-color: $table-background-color;
    }
    margin-bottom: $spacing;
    width: 100%;

    > caption, > thead > tr > th {
      color: $table-header-color;
      font-weight: normal;
      @if $table-font-size != $font-size {
        font-size: $table-font-size;
      }
      padding: $table-spacing-vertical $table-spacing-horizontal;
      vertical-align: top;
    }

    > tbody > tr {
      @if $table-transition {
        transition: background-color $table-transition-speed $table-transition-property;
      }
      
      > td {
        @if $table-border {
          border-top: $table-border-width $table-border-style $table-border-color;
        }
        @if $table-font-size != $font-size {
          font-size: $table-font-size;
        }
        padding: $table-spacing-vertical $table-spacing-horizontal;
        vertical-align: top;
      }
    }

    &.large {
      > thead > tr > th, tbody > tr > td {
        @if $table-font-size-large != $table-font-size {
          font-size: $table-font-size-large;
        }
        @if $table-spacing-horizontal-large != $table-spacing-horizontal {
          padding-left: $table-spacing-horizontal-large;
          padding-right: $table-spacing-horizontal-large;
        }
        @if $table-spacing-vertical-large != $table-spacing-vertical {
          padding-bottom: $table-spacing-vertical-large;
          padding-top: $table-spacing-vertical-large;
        }
      }
    }

    &.small {
      > thead > tr > th, tbody > tr > td {
        @if $table-font-size-small != $table-font-size {
          font-size: $table-font-size-small;
        }
        @if $table-spacing-horizontal-small != $table-spacing-horizontal {
          padding-left: $table-spacing-horizontal-small;
          padding-right: $table-spacing-horizontal-small;
        }
        @if $table-spacing-vertical-small != $table-spacing-vertical {
          padding-bottom: $table-spacing-vertical-small;
          padding-top: $table-spacing-vertical-small;
        }
      }
    }

    &.striped > tbody > tr {
      &:nth-child(odd) {
        @if $table-background-color-odd != $table-background-color {
          background-color: $table-background-color-odd;
        }
      }

      &:nth-child(even) {
        @if $table-background-color-even != $table-background-color {
          background-color: $table-background-color-even;
        }
      }
    }

    &.toggle-row {
      > tbody {
        &.table-row-link > tr:not(.table-row-hidden):hover > td:not(.table-cell-link-skip) {
          cursor: pointer;
          user-select: none;
        }

        > tr.table-row-hidden > td {
          border-top: none;
          padding: 0;

          > * {
            display: none;
            padding: $table-spacing-vertical $table-spacing-horizontal;
          }
        }
      }

      &.striped > tbody > tr {
        &:nth-child(4n+1) {
          background-color: $table-background-color-odd;
        }

        &:nth-child(4n+2) {
          background-color: $table-background-color-odd;
        }

        &:nth-child(4n+3) {
          background-color: $table-background-color-even;
        }

        &:nth-child(4n+4) {
          background-color: $table-background-color-even;
        }
      }
    }

    &.hover > tbody > tr:not(.table-row-hidden):hover {
      background-color: $table-background-color-hover;
    }

    &.responsive {
      @include breakpoint-only(extra-small) {
        > thead {
          display: none;
        }

        > tbody {
          display: block;

          > tr:not(.table-row-hidden) {
            @if $table-border {
              border-top: $table-border-width $table-border-style $table-border-color;
            }
            display: block;
            padding: $table-spacing-vertical $table-spacing-horizontal;

            > td {
              border-top: none;
              display: block;
              padding: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}