// Variables

// Options
$theme-dark: false !default; // true | false
$flex: true !default; // true | false

// Colors
$background-color-default: #FFFFFF !default;
$color-default: #000000 !default;
$color-default-light: #8E8E93 !default;
$color-default-lighter: #CECED2 !default;
$color-default-lightest: #EFEFF4 !default;

$color-primary: #007AFF !default;
$color-secondary: #5856D9 !default; // #FF9500
$color-success: #4CD964 !default;
$color-information: #5AC8FA !default;
$color-warning: #FFCC00 !default;
$color-danger: #FF3B30 !default;

$color-light-amount: .25 !default;
$color-dark-amount: 10% !default;
$color-darker-amount: 20% !default;

@if $theme-dark {
	$background-color-default: #262626 !default;
	$color-default: #FFFFFF !default;
	$color-default-light: #A3A3A3 !default;
	$color-default-lighter: #6A6A6A !default;
	$color-default-lightest: #303030 !default;
	$color-primary: #008FBF !default;
	$color-secondary: $color-primary !default;
	$color-success: #5A9D48 !default;
  $color-information: #5AC8FA !default;
	$color-warning: #FCB72E !default;
	$color-danger: #D31F2A !default;
}

$colors: (
  primary: (
    base: $color-primary,
    light: rgba($color-primary, $color-light-amount),
    dark: darken($color-primary, $color-dark-amount),
    darker: darken($color-primary, $color-darker-amount)
  ),
  secondary: (
    base: $color-secondary,
    light: rgba($color-secondary, $color-light-amount),
    dark: darken($color-secondary, $color-dark-amount),
    darker: darken($color-secondary, $color-darker-amount)
  ),
  success: (
    base: $color-success,
    light: rgba($color-success, $color-light-amount),
    dark: darken($color-success, $color-dark-amount),
    darker: darken($color-success, $color-darker-amount)
  ),
  information: (
    base: $color-information,
    light: rgba($color-information, $color-light-amount),
    dark: darken($color-information, $color-dark-amount),
    darker: darken($color-information, $color-darker-amount)
  ),
  warning: (
    base: $color-warning,
    light: rgba($color-warning, $color-light-amount),
    dark: darken($color-warning, $color-dark-amount),
    darker: darken($color-warning, $color-darker-amount)
  ),
  danger: (
    base: $color-danger,
    light: rgba($color-danger, $color-light-amount),
    dark: darken($color-danger, $color-dark-amount),
    darker: darken($color-danger, $color-darker-amount)
  )
) !default;

@function color($color-name, $color-variant:null) {
  @if ($color-variant != null) {
    @return map-get(map-get($colors, $color-name), $color-variant);
  } @else {
    @return map-get($colors, $color-name);
  }
}

// Global
$body-background-color: $background-color-default !default;
$body-color: $color-default !default;
$link-color: $color-primary !default;
$link-hover-color: $color-secondary !default;
$selection-background-color: $color-primary !default;
$selection-color: $background-color-default !default;

// Components
$border: true !default; // true | false
$border-color: $color-default-lighter !default;
$border-radius: 4px !default;
$border-radius-large: ($border-radius * 1.25) !default;
$border-radius-small: ($border-radius * .85) !default;
$border-style: solid !default;
$border-width: 1px !default;
$border-width-large: ($border-width * 2) !default;
$border-width-small: ($border-width / 2) !default;
$spacing: 20px !default;
$spacing-extra-large: ($spacing * 4) !default;
$spacing-large: ($spacing * 2) !default;
$spacing-small: ($spacing / 2) !default;
$spacing-extra-small: ($spacing / 4) !default;
$transition: true !default; // true | false
$transition-speed: 200ms !default;
$transition-speed-slow: ($transition-speed * 2) !default;
$transition-speed-fast: ($transition-speed / 2) !default;
$transition-property: ease-in-out !default;

// Typography
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-heading: $font-family !default;
$font-size: 14px !default;
$font-size-large: ($font-size * 1.25) !default;
$font-size-small: ($font-size * .85) !default;
$font-size-h1: ($font-size-large * 2) !default;
$font-size-h2: ($font-size * 2) !default;
$font-size-h3: ($font-size-small * 2) !default;
$font-size-h4: $font-size-large !default;
$font-size-h5: $font-size !default;
$font-size-h6: $font-size-small !default;
$line-height: 1.4 !default;
$line-height-heading: 1.2 !default;

// Breakpoints
$breakpoints: (
	extra-small: 0,
	small: 544px,
	medium: 768px,
	large: 992px,
	extra-large: 1400px
) !default;

// Grid System
$container-spacing: $spacing !default;
$grid-count: 12 !default;
$grid-spacing: $spacing !default;

// Tables
$table-background-color: transparent !default;
$table-background-color-hover: color(primary, light) !default;
$table-background-color-odd: $color-default-lightest !default;
$table-background-color-even: $table-background-color !default;
$table-header-color: $color-default-light !default;
$table-border: $border !default; // true | false
$table-border-color: $border-color !default;
$table-border-style: $border-style !default;
$table-border-width: $border-width !default;
$table-font-size: $font-size !default;
$table-font-size-large: $font-size-large !default;
$table-font-size-small: $font-size-small !default;
$table-spacing: $spacing-small !default;
$table-spacing-horizontal: $table-spacing !default;
$table-spacing-horizontal-large: ($table-spacing-horizontal * 1.25) !default;
$table-spacing-horizontal-small: ($table-spacing-horizontal * .85) !default;
$table-spacing-vertical: $table-spacing !default;
$table-spacing-vertical-large: ($table-spacing-vertical * 1.25) !default;
$table-spacing-vertical-small: ($table-spacing-vertical * .85) !default;
$table-transition: $transition !default; // true | false
$table-transition-speed: $transition-speed !default;
$table-transition-property: $transition-property !default;

// Forms
$form-background-color: transparent !default;
$form-border: $border !default; // true | false
$form-border-color: $border-color !default;
$form-border-style: $border-style !default;
$form-border-width: $border-width !default;
$form-border-width-large: $border-width-large !default;
$form-border-width-small: $border-width-small !default;
$form-border-radius: $border-radius !default;
$form-border-radius-large: $border-radius-large !default;
$form-border-radius-small: $border-radius-small !default;
$form-checked-color: $color-primary !default;
$form-color: $color-default !default;
$form-disabled-background-color: $color-default-lightest !default;
$form-disabled-border-color: $form-border-color !default;
$form-disabled-color: $color-default-light !default;
$form-error-background-color: $form-background-color !default;
$form-error-border-color: $color-danger !default;
$form-error-color: $form-color !default;
$form-focus: true !default; // true | false
$form-focus-background-color: $form-background-color !default;
$form-focus-border-color: $color-primary !default;
$form-focus-color: $form-color !default;
$form-font-size: $font-size !default;
$form-font-size-large: $font-size-large !default;
$form-font-size-small: $font-size-small !default;
$form-helper-color: $color-default-light !default;
$form-helper-error-color: $color-danger !default;
$form-hover: true !default; // true | false
$form-hover-background-color: $form-background-color !default;
$form-hover-border-color: $form-border-color !default;
$form-hover-color: $form-color !default;
$form-label-color: $form-color !default;
$form-label-required-color: $color-danger !default;
$form-placeholder-color: $color-default-lighter !default;
$form-spacing: $spacing-small !default;
$form-spacing-horizontal: $form-spacing !default;
$form-spacing-horizontal-large: ($form-spacing-horizontal * 1.25) !default;
$form-spacing-horizontal-small: ($form-spacing-horizontal * .85) !default;
$form-spacing-vertical: ($form-spacing * .85) !default;
$form-spacing-vertical-large: ($form-spacing-vertical * 1.25) !default;
$form-spacing-vertical-small: ($form-spacing * .85) !default;
$form-transition: $transition !default; // true | false
$form-transition-speed: $transition-speed !default;
$form-transition-property: $transition-property !default;

$range-size: $spacing !default;
$range-size-large: ($range-size * 1.25) !default;
$range-size-small: ($range-size * .85) !default;

$radio-size: $spacing !default;
$radio-size-large: ($radio-size * 1.25) !default;
$radio-size-small: ($radio-size * .85) !default;

$checkbox-size: $spacing !default;
$checkbox-size-large: ($checkbox-size * 1.25) !default;
$checkbox-size-small: ($checkbox-size * .85) !default;

// Alerts
$alert-border: $border !default; // true | false
$alert-border-style: $border-style !default;
$alert-border-width: $border-width !default;
$alert-border-radius: $border-radius !default;
$alert-spacing: $spacing-small !default;

// Progress
$progress-background-color: $color-default-lightest !default;
$progress-border: false !default; // true | false
$progress-border-color: $border-color !default;
$progress-border-style: $border-style !default;
$progress-border-width: $border-width !default;
$progress-border-width-large: $border-width-large !default;
$progress-border-width-small: $border-width-small !default;
$progress-border-radius: $border-radius !default;
$progress-border-radius-large: $border-radius-large !default;
$progress-border-radius-small: $border-radius-small !default;
$progress-color: $color-default-lighter !default;
$progress-size: $spacing !default;
$progress-size-large: ($progress-size * 1.25) !default;
$progress-size-small: ($progress-size * .85) !default;

// Modals
$modal-backdrop-background-color: $color-default !default;
$modal-backdrop-background-opacity: .5 !default;
$modal-background-color: $background-color-default !default;
$modal-border: $border !default; // true | false
$modal-border-color: $border-color !default;
$modal-border-style: $border-style !default;
$modal-border-width: $border-width !default;
$modal-border-radius: $border-radius !default;
$modal-spacing: $spacing !default;

// Accordions
$accordion-background-color: transparent !default;
$accordion-background-color-hover: color(primary, light) !default;
$accordion-background-color-odd: $color-default-lightest !default;
$accordion-background-color-even: $accordion-background-color !default;
$accordion-border: $border !default;
$accordion-border-color: $border-color !default;
$accordion-border-style: $border-style !default;
$accordion-border-width: $border-width !default;
$accordion-spacing: $spacing-small !default;
$accordion-spacing-horizontal: $accordion-spacing !default;
$accordion-spacing-vertical: $accordion-spacing !default;
$accordion-transition: $transition !default; // true | false
$accordion-transition-speed: $transition-speed !default;
$accordion-transition-property: $transition-property !default;

// Calendar
$calendar-weekend-color: $table-background-color-odd !default;

// Slideshow
$slideshow-height: 500px !default;
$slideshow-caption-color: $background-color-default !default;
$slideshow-caption-text-shadow: 0 1px 4px rgba(51, 51, 51, 0.7) !default;