// Accordions
.accordion-group {
	margin-bottom: $spacing;

	> .accordion {
		+ .accordion {
			@if $accordion-border {
				border-top: $accordion-border-width $accordion-border-style $accordion-border-color;
			}
		}

		> .accordion-toggle {
			cursor: pointer;
			margin: 0;
			padding: $accordion-spacing;
			text-decoration: none;
			user-select: none;
		}

		> .accordion-content {
			display: none;
			padding: $accordion-spacing;
		}
	}

	&.striped > .accordion {
    &:nth-child(odd) > {
      .accordion-toggle, .accordion-content {
        background-color: $accordion-background-color-odd;
      }
    }

    &:nth-child(even) > {
      .accordion-toggle, .accordion-content {
        background-color: $accordion-background-color-even;
      }
    }
	}

	&.hover > .accordion > .accordion-toggle {
		@if $accordion-transition {
			transition: background-color $accordion-transition-speed $accordion-transition-property;

			&:hover {
				background-color: $accordion-background-color-hover;
			}
		}
	}
}