// Alerts
.alert {
  @if $alert-border {
   border: $alert-border-style $alert-border-width;
  }
  @if $alert-border-radius > 0 {
    border-radius: $border-radius;
  }
  padding: $alert-spacing;
  margin-bottom: $spacing;
  
  > p, > ul {
    margin-bottom: 0;
  }
  
  > p + p {
    margin-top: $spacing-small;
  }
  
  @each $color-key, $color-value in $colors {
    @each $tone-key, $tone-value in $color-value {
      &.#{$color-key} {
        @if $tone-key == light {
          background-color: $tone-value;
        }
        @if $tone-key == dark {
          border-color: $tone-value;
          color: $tone-value;
        }
      }
    }
  }
}