// Alerts
.alert {
  @if $alert-borders {
   border: $alert-border-style $alert-border-width;
  }
  @if $alert-border-radius > 0 {
    border-radius: $border-radius;
  }
  padding: $alert-padding;
  margin-bottom: $padding;
  
  > p, > ul {
    margin-bottom: 0;
  }
  
  > p + p {
    margin-top: $padding-small;
  }
  
  &.success {
    background-color: $background-color-success;
    border-color: $color-success;
    color: darken($color-success, 20%);
  }

  &.information {
    background-color: $background-color-information;
    border-color: $color-information;
    color: darken($color-information, 20%);
  }

  &.warning {
    background-color: $background-color-warning;
    border-color: $color-warning;
    color: darken($color-warning, 20%);
  }

  &.danger {
    background-color: $background-color-danger;
    border-color: $color-danger;
    color: darken($color-danger, 30%);
  }
}