// Alerts
.alert {
  @if $alert-border {
   border: $alert-border-style $alert-border-width;
  }
  @if $alert-border-radius > 0 {
    border-radius: $border-radius;
  }
  padding: $alert-spacing;
  margin-bottom: $spacing;
  
  > p, > ul {
    margin-bottom: 0;
  }
  
  > p + p {
    margin-top: $spacing-small;
  }
  
  &.success {
    background-color: $background-color-success;
    border-color: $color-success;
  }
  
  &.information {
    background-color: $background-color-information;
    border-color: $color-information;
  }
  
  &.warning {
    background-color: $background-color-warning;
    border-color: $color-warning;
  }
  
  &.danger {
    background-color: $background-color-danger;
    border-color: $color-danger;
  }
}