// Calendar
.calendar {
  caption, th {
    text-align: inherit;
  }
  
	> tbody > tr > td {
    text-align: inherit;
		width: percentage(1 / 7);

		&:first-child, &:last-child {
			background-color: $calendar-weekend-color;
		}

		.date {
			display: inline-block;
			height: $spacing-large;
			line-height: $spacing-large;
			text-align: center;
			vertical-align: top;
			width: $spacing-large;
		}

		&.event {
			.date {
				background-color: $color-default;
				border-radius: 50%;
				color: $body-background-color;
			}

			.event-list {
				margin-bottom: 0;
				margin-top: $table-spacing;
				padding-left: 14px;

				li {
					text-align: left;

					span {
						color: $color-default;
						font-size: $font-size-small;
					}
				}
			}
		}

		&.today .date {
			background-color: $color-primary;
			border-radius: 50%;
			color: $body-background-color;
		}

		&.off .date {
			color: $color-default-lighter;
		}
	}

	&.responsive {
		@include breakpoint-only(extra-small) {
			tbody > tr {
				border-top: 0;
				padding: 0;

				> td {
					border-top: $table-border-width $table-border-style $table-border-color;
					padding: $table-spacing;
          text-align: left;

					&.event .event-list {
						display: inline-block;
						margin-left: $spacing-extra-small;
						margin-top: 0;
						vertical-align: top;
					}

					&.off {
						display: none;
					}
				}
			}
		}
	}
}