// Forms
// TODO Test IE Ranges
fieldset {
	border: none;
	margin: 0;
	min-width: 0;
	padding: 0;

	legend {
		border: 0;
		padding: 0;
	}
}

.form-group {
	.input-field {
		margin-bottom: $spacing;

		+ .input-helper {
			margin-top: -$spacing-small;
		}
	}

	.range {
		margin-bottom: $spacing;

		+ .input-helper {
			margin-top: -$spacing-small;
		}
	}

	.radio {
		+ .label {
			margin-bottom: $spacing-small;
		}
	}

	.checkbox {
		+ .label {
			margin-bottom: $spacing-small;
		}
	}

	.button {
		margin-bottom: $spacing;
	}

	&.large {
		.input-field {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			@if $form-font-size-large != $form-font-size {
				font-size: $form-font-size-large;
			}
			padding: $form-spacing-vertical-large $form-spacing-horizontal-large;
		}

		.range {
			&::-webkit-slider-runnable-track {
				@if $form-border-radius-large != $form-border-radius {
					border-radius: $form-border-radius-large;
				}
				@if $form-border-width-large != $form-border-width {
					border-width: $form-border-width-large;
				}
				height: $range-size-large;
			}

			&::-moz-range-track {
				@if $form-border-radius-large != $form-border-radius {
					border-radius: $form-border-radius-large;
				}
				@if $form-border-width-large != $form-border-width {
					border-width: $form-border-width-large;
				}
				height: $range-size-large;
			}

			&::-ms-track {
				@if $form-border-radius-large != $form-border-radius {
					border-radius: $form-border-radius-large;
				}
				@if $form-border-width-large != $form-border-width {
					border-width: $form-border-width-large;
				}
				height: $range-size-large;
			}

			&::-ms-fill-lower {
				@if $form-border-radius-large != $form-border-radius {
					border-radius: $form-border-radius-large;
				}
				@if $form-border-width-large != $form-border-width {
					border-width: $form-border-width-large;
				}
			}

			&::-ms-fill-upper {
				@if $form-border-radius-large != $form-border-radius {
					border-radius: $form-border-radius-large;
				}
				@if $form-border-width-large != $form-border-width {
					border-width: $form-border-width-large;
				}
			}

			&::-webkit-slider-thumb {
				@if $form-border-radius-large != $form-border-radius {
					border-radius: $form-border-radius-large;
				}
				@if $form-border-width-large != $form-border-width {
					border-width: $form-border-width-large;
					margin-top: -$form-border-width-large;
				}
				height: $range-size-large;
				width: $range-size-large;
			}

			&::-moz-range-thumb {
				@if $form-border-radius-large != $form-border-radius {
					border-radius: $form-border-radius-large;
				}
				@if $form-border-width-large != $form-border-width {
					border-width: $form-border-width-large;
				}
				height: $range-size-large;
				width: $range-size-large;
			}

			&::-ms-thumb {
				@if $form-border-radius-large != $form-border-radius {
					border-radius: $form-border-radius-large;
				}
				@if $form-border-width-large != $form-border-width {
					border-width: $form-border-width-large;
				}
				height: $range-size-large;
				width: $range-size-large;
			}
		}

		.radio + .label:before {
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			height: $radio-size-large;
			width: $radio-size-large;
		}

		.checkbox + .label:before {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			height: $checkbox-size-large;
			width: $checkbox-size-large;
		}

		.button {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			@if $form-font-size-large != $form-font-size {
				font-size: $form-font-size-large;
			}
			padding: $form-spacing-vertical-large $form-spacing-horizontal-large;
		}
	}

	&.small {
		.input-field {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			@if $form-font-size-small != $form-font-size {
				font-size: $form-font-size-small;
			}
			padding: $form-spacing-vertical-small $form-spacing-horizontal-small;
		}

		.range {
			&::-webkit-slider-runnable-track {
				@if $form-border-radius-small != $form-border-radius {
					border-radius: $form-border-radius-small;
				}
				@if $form-border-width-small != $form-border-width {
					border-width: $form-border-width-small;
				}
				height: $range-size-small;
			}

			&::-moz-range-track {
				@if $form-border-radius-small != $form-border-radius {
					border-radius: $form-border-radius-small;
				}
				@if $form-border-width-small != $form-border-width {
					border-width: $form-border-width-small;
				}
				height: $range-size-small;
			}

			&::-ms-track {
				@if $form-border-radius-small != $form-border-radius {
					border-radius: $form-border-radius-small;
				}
				@if $form-border-width-small != $form-border-width {
					border-width: $form-border-width-small;
				}
				height: $range-size-small;
			}

			&::-ms-fill-lower {
				@if $form-border-radius-small != $form-border-radius {
					border-radius: $form-border-radius-small;
				}
				@if $form-border-width-small != $form-border-width {
					border-width: $form-border-width-small;
				}
			}

			&::-ms-fill-upper {
				@if $form-border-radius-small != $form-border-radius {
					border-radius: $form-border-radius-small;
				}
				@if $form-border-width-small != $form-border-width {
					border-width: $form-border-width-small;
				}
			}

			&::-webkit-slider-thumb {
				@if $form-border-radius-small != $form-border-radius {
					border-radius: $form-border-radius-small;
				}
				@if $form-border-width-small != $form-border-width {
					border-width: $form-border-width-small;
					margin-top: -$form-border-width-small;
				}
				height: $range-size-small;
				width: $range-size-small;
			}

			&::-moz-range-thumb {
				@if $form-border-radius-small != $form-border-radius {
					border-radius: $form-border-radius-small;
				}
				@if $form-border-width-small != $form-border-width {
					border-width: $form-border-width-small;
				}
				height: $range-size-small;
				width: $range-size-small;
			}

			&::-ms-thumb {
				@if $form-border-radius-small != $form-border-radius {
					border-radius: $form-border-radius-small;
				}
				@if $form-border-width-small != $form-border-width {
					border-width: $form-border-width-small;
				}
				height: $range-size-small;
				width: $range-size-small;
			}
		}

		.radio + .label:before {
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			height: $radio-size-small;
			width: $radio-size-small;
		}

		.checkbox + .label:before {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			height: $checkbox-size-small;
			width: $checkbox-size-small;
		}

		.button {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			@if $form-font-size-small != $form-font-size {
				font-size: $form-font-size-small;
			}
			padding: $form-spacing-vertical-small $form-spacing-horizontal-small;
		}
	}
}

.form-inline .input-field {
	width: auto;
}

label.label {
	display: inline-block;
	@if $form-label-color != $color-default {
		color: $form-label-color;
	}
	margin-bottom: $spacing-extra-small;
	touch-action: manipulation;
	user-select: none;

	&.required:after {
		color: $form-label-required-color;
		content: '*';
		margin-left: $spacing-extra-small;
	}
}

.input-field {
	appearance: none;
	background-color: $form-background-color;
	@if $form-border {
		border: $form-border-width $form-border-style $form-border-color;
	}
	@else {
		border: none;
	}
	border-radius: $form-border-radius;
	color: $form-color;
	font-family: $font-family;
	font-size: $form-font-size;
	line-height: $line-height;
	margin: 0;
	padding: $form-spacing-vertical $form-spacing-horizontal;
	touch-action: manipulation;
	@if $form-transition {
		transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property, background-image $form-transition-speed $form-transition-property;
	}
	width: 100%;

	&::placeholder {
		color: $form-placeholder-color;
		opacity: 1;
	}

	@if $form-hover {
		&:hover {
			@if $form-hover-background-color != $form-background-color {
				background-color: $form-hover-background-color;
			}
			@if $form-hover-border-color != $form-border-color {
				border-color: $form-hover-border-color;
			}
			@if $form-hover-color != $form-color {
				color: $form-hover-color;
			}
		}
	}

	&:focus {
		@if $form-focus {
			@if $form-focus-background-color != $form-background-color {
				background-color: $form-focus-background-color;
			}
			@if $form-focus-border-color != $form-border-color {
				border-color: $form-focus-border-color;
			}
			@if $form-focus-color != $form-color {
				color: $form-focus-color;
			}
		}
		outline: 0;
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&.large {
		@if $form-border-radius-large != $form-border-radius {
			border-radius: $form-border-radius-large;
		}
		@if $form-border-width-large != $form-border-width {
			border-width: $form-border-width-large;
		}
		@if $form-font-size-large != $form-font-size {
			font-size: $form-font-size-large;
		}
		padding: $form-spacing-vertical-large $form-spacing-horizontal-large;
	}

	&.small {
		@if $form-border-radius-small != $form-border-radius {
			border-radius: $form-border-radius-small;
		}
		@if $form-border-width-small != $form-border-width {
			border-width: $form-border-width-small;
		}
		@if $form-font-size-small != $form-font-size {
			font-size: $form-font-size-small;
		}
		padding: $form-spacing-vertical-small $form-spacing-horizontal-small;
	}

	&:disabled {
		@if $form-disabled-background-color != $form-background-color {
			background-color: $form-disabled-background-color;
		}
		@if $form-disabled-border-color != $form-border-color {
			border-color: $form-disabled-border-color;
		}
		@if $form-disabled-color != $form-color {
			color: $form-disabled-color;
		}
		cursor: not-allowed;
		opacity: 1;
		user-select: none;
	}

	&.error {
		@if $form-error-background-color != $form-background-color {
			background-color: $form-error-background-color;
		}
		@if $form-border {
			@if $form-error-border-color != $form-border-color {
				border-color: $form-error-border-color;
			}
		}
		@if $form-error-border-color != $form-color {
			color: $form-error-color;
		}
	}
}

input[type="number"].input-field {
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		height: auto;
	}
}

input[type="search"].input-field {
	&::-webkit-search-cancel-button, &::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

@function url-friendly-color($color) {
	@return '%23' + str-slice('#{$color}', 2, -1);
}

select.input-field {
	background-image: url('data:image/svg+xml,<svg%20width%3D"10"%20height%3D"5"%20viewBox%3D"169%20177%2010%205"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><path%20fill%3D"#{url-friendly-color($form-border-color)}"%20fill-rule%3D"evenodd"%20d%3D"M174%20182l5-5h-10"%2F><%2Fsvg>');
	background-position: right $spacing-small center;
	background-repeat: no-repeat;
	background-size: $spacing-small $spacing-extra-small;
	padding-right: $spacing + $spacing-small;

	&::-ms-expand {
		display: none;
	}

	@if $form-hover {
		@if $form-hover-border-color != $form-border-color {
			&:hover {
				background-image: url('data:image/svg+xml,<svg%20width%3D"10"%20height%3D"5"%20viewBox%3D"169%20177%2010%205"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><path%20fill%3D"#{url-friendly-color($form-hover-border-color)}"%20fill-rule%3D"evenodd"%20d%3D"M174%20182l5-5h-10"%2F><%2Fsvg>');
			}
		}
	}
	
	&:focus {
		&:-moz-focusring {
	    color: transparent;
	    text-shadow: 0 0 0 #000;
		}

		@if $form-focus {
			@if $form-focus-border-color != $form-border-color {
				background-image: url('data:image/svg+xml,<svg%20width%3D"10"%20height%3D"5"%20viewBox%3D"169%20177%2010%205"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><path%20fill%3D"#{url-friendly-color($form-focus-border-color)}"%20fill-rule%3D"evenodd"%20d%3D"M174%20182l5-5h-10"%2F><%2Fsvg>');
			}
		}
	}

	optgroup {
		font-weight: bold;
	}

	option:disabled {
		color: $form-disabled-color;
	}
}

textarea.input-field {
	overflow: auto;
	resize: vertical;
}

// input[type="color"].input-field {
//   cursor: pointer;
//   height: $spacing;
//   padding: 0 !important;
//   width: $spacing !important;

//   &::-webkit-color-swatch-wrapper {
//     padding: 0;
//   }
//   &::-webkit-color-swatch {
//     border: none;
//     border-radius: $form-border-radius;
//   }

// 	&.large + label:before {
// 		@if $form-border-radius-large != $form-border-radius {
// 			border-radius: $form-border-radius-large;
// 		}
// 		@if $form-border-width-large != $form-border-width {
// 			border-width: $form-border-width-large;
// 		}
// 		height: $checkbox-size-large;
// 		width: $checkbox-size-large;
// 	}

// 	&.small + label:before {
// 		@if $form-border-radius-small != $form-border-radius {
// 			border-radius: $form-border-radius-small;
// 		}
// 		@if $form-border-width-small != $form-border-width {
// 			border-width: $form-border-width-small;
// 		}
// 		height: $checkbox-size-small;
// 		width: $checkbox-size-small;
// 	}
// }

.range {
	appearance: none;
	margin: 0;
	width: 100%;

	&::-webkit-slider-runnable-track {
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		background-color: $form-background-color;
		cursor: pointer;
		height: $range-size;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
		width: 100%;
	}

	&::-moz-range-track {
		background-color: $form-background-color;
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		cursor: pointer;
		height: $range-size;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
		width: 100%;
	}

	&::-ms-track {
		background-color: transparent;
		border-color: transparent;
		border-width: $spacing 0;
		color: transparent;
		cursor: pointer;
		height: $range-size;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
		width: 100%;
	}

	&::-ms-fill-lower {
		background-color: $form-background-color;
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
	}

	&::-ms-fill-upper {
		background-color: $form-background-color;
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background-color: $color-default-lightest;
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		cursor: pointer;
		height: $range-size;
		margin-top: -$form-border-width;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
		width: $range-size;
	}

	&::-moz-range-thumb {
		background-color: $color-default-lightest;
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		cursor: pointer;
		height: $range-size;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
		width: $range-size;
	}

	&::-ms-thumb {
		background-color: $color-default-lightest;
		border: $form-border-width $form-border-style $form-border-color;
		border-radius: $form-border-radius;
		cursor: pointer;
		height: $range-size;
		@if $form-transition {
			transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
		}
		width: $range-size;
	}

	@if $form-hover {
		&:hover {
			&::-webkit-slider-runnable-track {
				@if $form-hover-background-color != $form-background-color {
					background-color: $form-hover-background-color;
				}
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}

			&::-moz-range-track {
				@if $form-hover-background-color != $form-background-color {
					background-color: $form-hover-background-color;
				}
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}

			&::-ms-track {
				@if $form-hover-background-color != $form-background-color {
					background-color: $form-hover-background-color;
				}
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}

			&::-webkit-slider-thumb {
				@if $form-hover-background-color != $form-background-color {
					background-color: $form-hover-background-color;
				}
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}

			&::-moz-range-thumb {
				@if $form-hover-background-color != $form-background-color {
					background-color: $form-hover-background-color;
				}
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}

			&::-ms-thumb {
				@if $form-hover-background-color != $form-background-color {
					background-color: $form-hover-background-color;
				}
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}
		}
	}

	&:focus {
		outline: none;

		&::-moz-focus-outer {
			border: 0;
		}

		@if $form-focus {
			&::-webkit-slider-runnable-track {
				@if $form-focus-background-color != $form-background-color {
					background-color: $form-focus-background-color;
				}
				@if $form-focus-border-color != $form-border-color {
					border-color: $form-focus-border-color;
				}
			}

			&::-moz-range-track {
				@if $form-focus-background-color != $form-background-color {
					background-color: $form-focus-background-color;
				}
				@if $form-focus-border-color != $form-border-color {
					border-color: $form-focus-border-color;
				}
			}

			&::-ms-track {
				@if $form-focus-background-color != $form-background-color {
					background-color: $form-focus-background-color;
				}
				@if $form-focus-border-color != $form-border-color {
					border-color: $form-focus-border-color;
				}
			}

			&::-webkit-slider-thumb {
				@if $form-focus-background-color != $form-background-color {
					background-color: $form-focus-background-color;
				}
				@if $form-focus-border-color != $form-border-color {
					border-color: $form-focus-border-color;
				}
			}

			&::-moz-range-thumb {
				@if $form-focus-background-color != $form-background-color {
					background-color: $form-focus-background-color;
				}
				@if $form-focus-border-color != $form-border-color {
					border-color: $form-focus-border-color;
				}
			}

			&::-ms-thumb {
				@if $form-focus-background-color != $form-background-color {
					background-color: $form-focus-background-color;
				}
				@if $form-focus-border-color != $form-border-color {
					border-color: $form-focus-border-color;
				}
			}
		}
	}

	&.large {
		&::-webkit-slider-runnable-track {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			height: $range-size-large;
		}

		&::-moz-range-track {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			height: $range-size-large;
		}

		&::-ms-track {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			height: $range-size-large;
		}

		&::-ms-fill-lower {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
		}

		&::-ms-fill-upper {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
		}

		&::-webkit-slider-thumb {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
				margin-top: -$form-border-width-large;
			}
			height: $range-size-large;
			width: $range-size-large;
		}

		&::-moz-range-thumb {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			height: $range-size-large;
			width: $range-size-large;
		}

		&::-ms-thumb {
			@if $form-border-radius-large != $form-border-radius {
				border-radius: $form-border-radius-large;
			}
			@if $form-border-width-large != $form-border-width {
				border-width: $form-border-width-large;
			}
			height: $range-size-large;
			width: $range-size-large;
		}
	}

	&.small {
		&::-webkit-slider-runnable-track {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			height: $range-size-small;
		}

		&::-moz-range-track {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			height: $range-size-small;
		}

		&::-ms-track {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			height: $range-size-small;
		}

		&::-ms-fill-lower {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
		}

		&::-ms-fill-upper {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
		}

		&::-webkit-slider-thumb {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
				margin-top: -$form-border-width-small;
			}
			height: $range-size-small;
			width: $range-size-small;
		}

		&::-moz-range-thumb {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			height: $range-size-small;
			width: $range-size-small;
		}

		&::-ms-thumb {
			@if $form-border-radius-small != $form-border-radius {
				border-radius: $form-border-radius-small;
			}
			@if $form-border-width-small != $form-border-width {
				border-width: $form-border-width-small;
			}
			height: $range-size-small;
			width: $range-size-small;
		}
	}

	&:disabled {
		&::-webkit-slider-runnable-track {
			@if $form-disabled-background-color != $form-background-color {
				background-color: $form-disabled-background-color;
			}
			@if $form-disabled-border-color != $form-border-color {
				border-color: $form-disabled-border-color;
			}
			cursor: not-allowed;
		}

		&::-moz-range-track {
			@if $form-disabled-background-color != $form-background-color {
				background-color: $form-disabled-background-color;
			}
			@if $form-disabled-border-color != $form-border-color {
				border-color: $form-disabled-border-color;
			}
			cursor: not-allowed;
		}

		&::-ms-track {
			@if $form-disabled-background-color != $form-background-color {
				background-color: $form-disabled-background-color;
			}
			@if $form-disabled-border-color != $form-border-color {
				border-color: $form-disabled-border-color;
			}
			cursor: not-allowed;
		}
	}
}

.radio {
	display: none;

	+ .label {
		cursor: pointer;

		&:before {
			background-color: $form-background-color;
			@if $form-border {
				border: $form-border-width $form-border-style $form-border-color;
			}
			border-radius: 50%;
			content: '';
			display: inline-block;
			height: $radio-size;
			margin-bottom: -$spacing-extra-small;
			margin-right: $spacing-extra-small;
			@if $form-transition {
				transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property, box-shadow $form-transition-speed $form-transition-property;
			}
			width: $radio-size;
		}

		&.required:after {
			color: $form-label-required-color;
			content: '*';
			margin-left: $spacing-extra-small;
		}

		@if $form-hover {
			&:hover:before {
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}
		}
	}

	&.large + .label:before {
		@if $form-border-width-large != $form-border-width {
			border-width: $form-border-width-large;
		}
		height: $radio-size-large;
		width: $radio-size-large;
	}

	&.small + .label:before {
		@if $form-border-width-small != $form-border-width {
			border-width: $form-border-width-small;
		}
		height: $radio-size-small;
		width: $radio-size-small;
	}

	&:checked + .label:before {
		background-color: $form-checked-color;
		border-color: $form-checked-color;
		box-shadow: inset 0 0 0 2px $form-background-color;
	}

	&:disabled + .label {
		cursor: not-allowed;

		&:before {
			background-color: $color-default-lightest;

			@if $form-border {
				border-color: $form-border-color;
			}
		}
	}

	&.error + .label:before {
		@if $form-error-background-color {
			background-color: $form-error-background-color;
		}
		@if $form-border {
			@if $form-error-border-color {
				border-color: $form-error-border-color;
			}
		}
	}
}

.checkbox {
	display: none;

	+ .label {
		cursor: pointer;

		&:before {
			background-color: $form-background-color;
			@if $form-border {
				border: $form-border-width $form-border-style $form-border-color;
			}
			@if $form-border-radius > 0 {
				border-radius: $form-border-radius;
			}
			content: '';
			display: inline-block;
			height: $checkbox-size;
			margin-bottom: -$spacing-extra-small;
			margin-right: $spacing-extra-small;
			@if $form-transition {
				transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property, box-shadow $form-transition-speed $form-transition-property;
			}
			width: $checkbox-size;
		}

		@if $form-hover {
			&:hover:before {
				@if $form-hover-border-color != $form-border-color {
					border-color: $form-hover-border-color;
				}
			}
		}

		&.required:after {
			color: $form-label-required-color;
			content: '*';
			margin-left: $spacing-extra-small;
		}
	}

	&.large + .label:before {
		@if $form-border-radius-large != $form-border-radius {
			border-radius: $form-border-radius-large;
		}
		@if $form-border-width-large != $form-border-width {
			border-width: $form-border-width-large;
		}
		height: $checkbox-size-large;
		width: $checkbox-size-large;
	}

	&.small + .label:before {
		@if $form-border-radius-small != $form-border-radius {
			border-radius: $form-border-radius-small;
		}
		@if $form-border-width-small != $form-border-width {
			border-width: $form-border-width-small;
		}
		height: $checkbox-size-small;
		width: $checkbox-size-small;
	}

	&:checked + .label:before {
		background-color: $form-checked-color;
		border-color: $form-checked-color;
		box-shadow: inset 0 0 0 2px $form-background-color;
	}

	&:disabled + .label {
		cursor: not-allowed;

		&:before {
			background-color: $color-default-lightest;
			@if $form-border {
				border-color: $form-border-color;
			}
		}
	}

	&.error + .label:before {
		@if $form-error-background-color {
			background-color: $form-error-background-color;
		}
		@if $form-border {
			@if $form-error-border-color {
				border-color: $form-error-border-color;
			}
		}
	}
}

.input-helper {
	color: $form-helper-color;
	margin-top: $spacing-small;
	margin-bottom: $spacing;

	&.error {
		color: $form-helper-error-color;
	}
}

[role="button"] {
	cursor: pointer;
}

.button {
	background-color: $color-default-lighter;
	@if $form-border {
		border: $form-border-width $form-border-style $form-border-color;
	}
	@else {
		border: none;
	}
	border-radius: $form-border-radius;
	color: $form-color;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family;
	font-size: $form-font-size;
	line-height: $line-height;
	padding: $form-spacing-vertical $form-spacing-horizontal;
	text-align: center;
	text-decoration: none;
	@if $form-transition {
		transition: background-color $form-transition-speed $form-transition-property, border-color $form-transition-speed $form-transition-property;
	}
	touch-action: manipulation;
	user-select: none;
	vertical-align: middle;

	&.large {
		@if $form-border-radius-large != $form-border-radius {
			border-radius: $form-border-radius-large;
		}
		@if $form-border-width-large != $form-border-width {
			border-width: $form-border-width-large;
		}
		@if $form-font-size-large != $form-font-size {
			font-size: $form-font-size-large;
		}
		padding: $form-spacing-vertical-large $form-spacing-horizontal-large;
	}

	&.small {
		@if $form-border-radius-small != $form-border-radius {
			border-radius: $form-border-radius-small;
		}
		@if $form-border-width-small != $form-border-width {
			border-width: $form-border-width-small;
		}
		@if $form-font-size-small != $form-font-size {
			font-size: $form-font-size-small;
		}
		padding: $form-spacing-vertical-small $form-spacing-horizontal-small;
	}

	&.full {
		width: 100%;
	}

	&:hover {
		@if $form-hover {
			background-color: darken($color-default-lighter, 10%);
			border-color: darken($color-default-lighter, 10%);
		}
		color: $color-default;
	}

	&:focus, &:active {
		@if $form-focus {
			background-color: darken($color-default-lighter, 20%);
			border-color: darken($color-default-lighter, 20%);
		}
		color: $color-default;
	}

	&:disabled {
		background-color: $color-default-lighter;
		border-color: $color-default-lighter;
		color: $color-default;
	}

	@each $color-key, $color-value in $colors {
	  @each $tone-key, $tone-value in $color-value {
	    &.#{$color-key} {
	      @if $tone-key == base {
	        background-color: $tone-value;
	        border-color: $tone-value;
	        color: $background-color-default;
	      }
	      
	      @if $form-hover {
	        &:hover:enabled {
	          @if $tone-key == dark {
	            background-color: $tone-value;
	            border-color: $tone-value;
	          }
	        }
	      }

	      @if $form-focus {
	        &:focus:enabled, &:active:enabled {
	          @if $tone-key == darker {
	            background-color: $tone-value;
	            border-color: $tone-value;
	          }
	        }
	      }
	    }
	  }
	}

	@if $form-border {
		&.inverted {
			background-color: $form-background-color;
			border-color: $color-default-lighter;
			color: $color-default;
			@if $form-transition {
				transition: background-color $form-transition-speed $form-transition-property, color $form-transition-speed $form-transition-property;
			}

			@if $form-hover {
				&:hover:enabled {
					background-color: $color-default-lighter;
				}
			}

			@if $form-focus {
				&:focus:enabled, &:active:enabled {
					background-color: $color-default-lighter;
				}
			}

			@each $color-key, $color-value in $colors {
			  @each $tone-key, $tone-value in $color-value {
			    &.#{$color-key} {
			      @if $tone-key == base {
			        border-color: $tone-value;
			        color: $tone-value;

      	      @if $form-hover {
      	        &:hover:enabled {
                  background-color: $tone-value;
                  border-color: $tone-value;
                  color: $form-background-color;
      	        }
      	      }

      	      @if $form-focus {
      	        &:focus:enabled, &:active:enabled {
                  background-color: $tone-value;
                  border-color: $tone-value;
                  color: $form-background-color;
      	        }
      	      }
			      }
			    }
			  }
			}
		}
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .5;
	}
}

button.button {
	margin: 0;
	overflow: visible;

	&:focus {
		outline: 0;
	}

	&::-moz-focus-inner {
		border: 0;
		margin: 0;
		padding: 0;
	}
}