.button {
	@if $button-borders {
		border: $button-border-width $button-border-style $button-border-color;
	}

	@else {
		border: none;
	}

	border-radius: $button-border-radius;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	padding: $button-padding-vertical $button-padding-horizontal;
	text-align: center;
	text-decoration: none;

	@if $button-text-transform {
		text-transform: $button-text-transform;
	}

	touch-action: manipulation;
	-webkit-user-select: none;

	&.large {
		@if $button-border-radius-large > 0 {
			border-radius: $button-border-radius-large;
		}

		font-size: $font-size-large;
		padding: $button-padding-vertical-large $button-padding-horizontal-large;
	}

	&.small {
		@if $button-border-radius-small > 0 {
			border-radius: $button-border-radius-small;
		}

		font-size: $font-size-small;
		padding: $button-padding-vertical-small $button-padding-horizontal-small;
	}

	&.full {
		width: 100%;
	}

	@if not $button-inverted {
		&:not(.inverted) {
			background-color: $color-default-lighter;
			color: $color-default;

			@if $button-transitions {
				transition: background-color $button-transition-speed $button-transition-property, border-color $button-transition-speed $button-transition-property;
			}

			@if $button-hover {
				&:hover {
					background-color: darken($color-default-lighter, 10%);
					border-color: darken($color-default-lighter, 10%);
				}
			}

			@if $button-focus {
				&:focus, &:active {
					background-color: darken($color-default-lighter, 20%);
					border-color: darken($color-default-lighter, 20%);
				}
			}

			&:disabled {
				background-color: $color-default-lighter;
				border-color: $color-default-lighter;
				color: $color-default;
			}

			@each $class, $color in $colors {
				&.#{$class} {
					background-color: $color;
					border-color: $color;
					color: $background-color-default;

					@if $button-hover {
						&:hover {
							background-color: darken($color, 10%);
							border-color: darken($color, 10%);
						}
					}

					@if $button-focus {
						&:focus, &:active {
							background-color: darken($color, 20%);
							border-color: darken($color, 20%);
						}
					}

					&:disabled {
						background-color: $color;
						border-color: $color;
					}
				}
			}
		}

		&.inverted {
			background-color: $button-background-color;
			border-color: $color-default-lighter;
			color: $color-default;

			@if $button-transitions {
				transition: background-color $button-transition-speed $button-transition-property, color $button-transition-speed $button-transition-property;
			}

			@if $button-hover {
				&:hover {
					background-color: $color-default-lighter;
				}
			}

			@if $button-focus {
				&:focus, &:active {
					background-color: $color-default-lighter;
				}
			}

			&:disabled {
				background-color: $button-background-color;
				color: $color-default;
			}

			@each $class, $color in $colors {
				&.#{$class} {
					border-color: $color;
					color: $color;

					@if $button-hover {
						&:hover {
							background-color: $color;
							color: $background-color-default;
						}
					}

					@if $button-focus {
						&:focus, &:active {
							background-color: $color;
							color: $background-color-default;
						}
					}

					&:disabled {
						background-color: $button-background-color;
						color: $color;
					}
				}
			}
		}
	} @else {
		&:not(.inverted) {
			background-color: $button-background-color;
			border-color: $color-default-lighter;
			color: $color-default;

			@if $button-transitions {
				transition: background-color $button-transition-speed $button-transition-property, color $button-transition-speed $button-transition-property;
			}

			@if $button-hover {
				&:hover {
					background-color: $color-default-lighter;
				}
			}

			@if $button-focus {
				&:focus, &:active {
					background-color: $color-default-lighter;
				}
			}

			&:disabled {
				background-color: $button-background-color;
			}

			@each $class, $color in $colors {
				&.#{$class} {
					border-color: $color;
					color: $color;

					@if $button-hover {
						&:hover {
							background-color: $color;
							color: $background-color-default;
						}
					}

					@if $button-focus {
						&:focus, &:active {
							background-color: $color;
							color: $background-color-default;
						}
					}

					&:disabled {
						background-color: $button-background-color;
						color: $color;
					}
				}
			}
		}

		&.inverted {
			background-color: $color-default-lighter;
			color: $color-default;

			@if $button-transitions {
				transition: background-color $button-transition-speed $button-transition-property, border-color $button-transition-speed $button-transition-property;
			}

			@if $button-hover {
				&:hover {
					background-color: darken($color-default-lighter, 10%);
					border-color: darken($color-default-lighter, 10%);
				}
			}

			@if $button-focus {
				&:focus, &:active {
					background-color: darken($color-default-lighter, 20%);
					border-color: darken($color-default-lighter, 20%);
				}
			}

			&:disabled {
				background-color: $color-default-lighter;
				border-color: $color-default-lighter;
			}

			@each $class, $color in $colors {
				&.#{$class} {
					background-color: $color;
					border-color: $color;
					color: $background-color-default;

					@if $button-hover {
						&:hover {
							background-color: darken($color, 10%);
							border-color: darken($color, 10%);
						}
					}

					@if $button-focus {
						&:focus, &:active {
							background-color: darken($color, 20%);
							border-color: darken($color, 20%);
						}
					}

					&:disabled {
						background-color: $color;
						border-color: $color;
					}
				}
			}
		}
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .5;
	}
}