// Global
html {
	box-sizing: border-box;
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $background-color-default;
	color: $color-default;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	margin: 0;
}

[tabindex="-1"]:focus {
	outline: none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border: 0;

	&.responsive {
		display: inline-block;
		height: auto;
		max-width: 100%;
	}

	&.contain {
		object-fit: none;
		width: 100%;

		&.bottom {
			object-position: 50%  100%;
		}

		&.bottom-left {
			object-position: 0  100%;
		}

		&.bottom-right {
			object-position: 100% 100%;
		}

		&.left {
			object-position: 0%  50%;
		}

		&.right {
			object-position: 100%  50%;
		}

		&.top {
			object-position: 50%  0%;
		}

		&.top-left {
			object-position: 0  0;
		}

		&.top-right {
			object-position: 100%  0;
		}
	}

	&.cover {
		object-fit: cover;
		width: 100%;

		&.bottom {
			object-position: 50%  100%;
		}

		&.top {
			object-position: 50%  0%;
		}
	}
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0 0 $padding;
}

hr {
	@if $borders {
		border-bottom: $border-width $border-style $border-color;
	} @else {
		border-bottom: none;
	}

	border-top: none;
	box-sizing: content-box;
	height: 0;
	margin-bottom: $padding;
	margin-top: $padding;
}

// Typography
::selection {
	color: $background-color-default;
	background-color: $color-primary;
	text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-headers;
	line-height: $line-height-headers;
	margin-bottom: $padding-small;
	margin-top: 0;

	span {
		font-weight: 200;
	}
}

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
}

h6 {
	font-size: $font-size-h6;
}

p {
	margin-bottom: $padding-small;
	margin-top: 0;
}

a {
	background-color: transparent;
	color: $color-primary;
	text-decoration: none;
	touch-action: manipulation;

	@if $transitions {
		transition: $transitions;
	}

	&:active,
	&:hover {
		color: $color-secondary;
		outline: 0;
	}
}

area {
	touch-action: manipulation;
}

abbr[title] {
	border-bottom: $border-width $border-style $border-color;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background-color: $background-color-warning;
	color: $color-default;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	margin: 0 0 $padding;
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

ul, ol, dl {
	margin: 0 0 $padding;

	&.list-unstyled {
		list-style: none;
		padding-left: 0;
	}

	&.list-inline {
		list-style: none;
		padding-left: 0;
		margin-left: -$padding-extra-small;
		margin-right: -$padding-extra-small;

		li {
			display: inline-block;
			padding-left: $padding-extra-small;
			padding-right: $padding-extra-small;
		}
	}
}

ol ol, ul ul, ol ul, ul ol {
	margin-bottom: 0;
}

blockquote {
	margin: 0 0 $padding;
}