// Global
html {
	box-sizing: border-box;
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $background-color-default;
	color: $color-default;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	margin: 0;
}

[tabindex="-1"]:focus {
	outline: none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

::selection {
	color: $background-color-default;
	background-color: $color-primary;
}

a {
	background-color: transparent;
	color: $color-primary;
	text-decoration: none;
	touch-action: manipulation;

	@if $transitions {
		transition: $transition-speed $transion-property;
	}

	&:active,
	&:hover {
		color: $color-secondary;
		outline: 0;
	}
}

area {
	touch-action: manipulation;
}