// Grid
.container {
	@include make-container();
	@include make-container-sizes();
}

.grid {
	@include make-grid();

	@if $flex {
		@each $breakpoint in map-keys($breakpoints) {
			@include breakpoint-up($breakpoint) {
				&.#{$breakpoint}-top {
					align-items: flex-start;
				}

				&.#{$breakpoint}-center {
					align-items: center;
				}

				&.#{$breakpoint}-bottom {
					align-items: flex-end;
				}
			}
		}
	}

	.tile {
		@include make-tile();
		@include make-tiles();

		@if $flex {
			@each $breakpoint in map-keys($breakpoints) {
				@include breakpoint-up($breakpoint) {
					&.#{$breakpoint}-first {
						order: -1;
					}

					&.#{$breakpoint}-last {
						order: 1;
					}
				}
			}

			@each $breakpoint in map-keys($breakpoints) {
				@include breakpoint-up($breakpoint) {
					&.#{$breakpoint}-top {
						align-self: flex-start;
					}

					&.#{$breakpoint}-center {
						align-self: center;
					}

					&.#{$breakpoint}-bottom {
						align-self: flex-end;
					}
				}
			}
		}
	}
}