// Progress
progress {
  display: inline-block;
  vertical-align: baseline;

  &.progress {
    display: block;
    height: $padding;
    margin-bottom: $padding;
    width: 100%;

    &[value] {
      appearance: none;
      background-color: $progress-background-color;
      @if $progress-border {
        border: $progress-border-width $progress-border-style $progress-border-color;
      }
      @if $progress-border-radius > 0 {
        border-radius: $progress-border-radius;
      }
    }

    &[value]::-ms-fill {
      background-color: $progress-color;
      border: 0;
    }

    &[value]::-moz-progress-bar {
      background-color: $progress-color;
      @if $progress-border-radius > 0 {
        border-bottom-left-radius: $progress-border-radius;
        border-top-left-radius: $progress-border-radius;
      }
    }

    &[value]::-webkit-progress-value {
      background-color: $progress-color;
      @if $progress-border-radius > 0 {
        border-bottom-left-radius: $progress-border-radius;
        border-top-left-radius: $progress-border-radius;
      }
    }

    &[value="100"]::-moz-progress-bar {
      @if $progress-border-radius > 0 {
        border-bottom-right-radius: $progress-border-radius;
        border-top-right-radius: $progress-border-radius;
      }
    }

    &[value="100"]::-webkit-progress-value {
      @if $progress-border-radius > 0 {
        border-bottom-right-radius: $progress-border-radius;
        border-top-right-radius: $progress-border-radius;
      }
    }

    &[value]::-webkit-progress-bar {
      background-color: $progress-background-color;
      @if $progress-border-radius > 0 {
        border-radius: $progress-border-radius;
      }
    }

    &.large {
      @if $progress-border-radius-large != $progress-border-radius {
        border-radius: $progress-border-radius-large;
      }
      @if $progress-border-width-large != $progress-border-width {
        border-width: $progress-border-width-large;
      }
      height: $padding-large;
    }

    &.small {
      @if $progress-border-radius-small != $progress-border-radius {
        border-radius: $progress-border-radius-small;
      }
      @if $progress-border-width-small != $progress-border-width {
        border-width: $progress-border-width-small;
      }
      height: $padding-small;
    }
    
    @each $class, $color in $colors {
      &.#{$class} {
        &[value]::-webkit-progress-value {
          background-color: $color;
        }
      }

      &.#{$class} {
        &[value]::-moz-progress-bar {
          background-color: $color;
        }
      }
    }
  }
}