// Typography
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
	line-height: $line-height-heading;
	margin-bottom: $spacing-small;
	margin-top: 0;

	span {
		font-weight: 200;
	}
}

h1, .h1 {
	font-size: $font-size-h1;
}

h2, .h2 {
	font-size: $font-size-h2;
}

h3, .h3 {
	font-size: $font-size-h3;
}

h4, .h4 {
	font-size: $font-size-h4;
}

h5, .h5 {
	font-size: $font-size-h5;
}

h6, .h6 {
	font-size: $font-size-h6;
}

p {
	margin-bottom: $spacing-small;
	margin-top: 0;
}

hr {
	@if $border {
		border-bottom: $border-width $border-style $border-color;
	} @else {
		border-bottom: none;
	}
	border-top: none;
	box-sizing: content-box;
	height: 0;
	margin-bottom: $spacing;
	margin-top: $spacing;
}

abbr[title] {
	border-bottom: $border-width $border-style $border-color;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background-color: map-get(map-get($colors, warning), light);
	color: $color-default;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ul, ol, dl {
	margin: 0 0 $spacing;

	&.list-unstyled {
		list-style: none;
		padding-left: 0;
	}

	&.list-inline {
		@if $flex {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		} @else {
			display: block;
			letter-spacing: -4px;
		}
		@extend .list-unstyled;
		margin-left: -$spacing-extra-small;
		margin-right: -$spacing-extra-small;

		li {
			@if not $flex {
				display: inline-block;
				letter-spacing: normal;
				vertical-align: top;
			}
			padding-left: $spacing-extra-small;
			padding-right: $spacing-extra-small;
		}
	}
}

ol ol, ul ul, ol ul, ul ol {
	margin-bottom: 0;
}

pre {
	margin: 0 0 $spacing;
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

blockquote {
	margin: 0 0 $spacing;

	&.blockquote {
		cite {
			color: $color-default-light;
		}
	}
}