// Variables
$theme-dark: false;
$flex: true;

// Colors
$color-default: #000000;
$color-default-light: #8E8E93;
$color-default-lighter: #CECED2;
$color-default-lightest: #EFEFF4;
$color-primary: #007AFF;
$color-secondary: #5856D9;
$color-success: #4CD964;
$color-information: #5AC8FA;
$color-warning: #FFCC00;
$color-danger: #FF3B30;
$background-color-default: #FFFFFF;
$background-color-primary: rgba($color-primary, .25);
$background-color-secondary: rgba($color-secondary, .25);
$background-color-success: rgba($color-success, .25);
$background-color-information: rgba($color-information, .25);
$background-color-warning: rgba($color-warning, .25);
$background-color-danger: rgba($color-danger, .25);

@if $theme-dark {
	$color-default: #FFFFFF;
	$color-default-light: #A3A3A3;
	$color-default-lighter: #6A6A6A;
	$color-default-lightest: #303030;
	$color-primary: #008FBF;
	$color-secondary: $color-primary;
	$color-success: #5A9D48;
  $color-information: #5AC8FA;
	$color-warning: #FCB72E;
	$color-danger: #D31F2A;
	$background-color-default: #262626;
}

$colors: (
	default: $color-default,
	primary: $color-primary,
	secondary: $color-secondary,
	success: $color-success,
  information: $color-information,
	warning: $color-warning,
	danger: $color-danger
);

$background-colors: (
	default: $background-color-default,
	primary: $background-color-primary,
	secondary: $background-color-secondary,
	success: $background-color-success,
  information: $background-color-information,
	warning: $background-color-warning,
	danger: $background-color-danger
);

// Components
$borders: true;
$border-color: $color-default-lighter;
$border-radius: 4px;
$border-radius-large: ($border-radius * 1.25);
$border-radius-small: ($border-radius * .85);
$border-style: solid;
$border-width: 1px;
$border-width-large: ($border-width * 2);
$border-width-small: ($border-width / 2);
$padding: 20px;
$padding-extra-large: ($padding * 2);
$padding-large: ($padding * 1.5);
$padding-small: ($padding / 2);
$padding-extra-small: ($padding / 4);
$transitions: true;
$transition-speed: 200ms;
$transition-speed-slow: ($transition-speed * 2);
$transition-speed-fast: ($transition-speed / 2);
$transition-property: ease-in-out;

// Typography
$font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headings: $font-family;
$font-size: 14px;
$font-size-large: ($font-size * 1.25);
$font-size-small: ($font-size * .85);
$font-size-h1: ($font-size-large * 2);
$font-size-h2: ($font-size * 2);
$font-size-h3: ($font-size-small * 2);
$font-size-h4: $font-size-large;
$font-size-h5: $font-size;
$font-size-h6: $font-size-small;
$line-height: 20/14;
$line-height-headings: $line-height;

// Breakpoints
$breakpoints: (
	extra-small: 0,
	small: 544px,
	medium: 768px,
	large: 992px,
	extra-large: 1400px
);

// Grid System
$grid-count: 12;
$grid-padding: $padding;
$container-padding: $padding;

// Tables
$table-background-color: transparent;
$table-background-color-hover: $background-color-primary;
$table-background-color-odd: $color-default-lightest;
$table-background-color-even: $table-background-color;
$table-header-color: $color-default-light;
$table-borders: $borders;
$table-border-color: $border-color;
$table-border-style: $border-style;
$table-border-width: $border-width;
$table-padding: $padding-small;
$table-padding-vertical: ($table-padding * .9);
$table-padding-vertical-large: ($table-padding-vertical * 1.25);
$table-padding-vertical-small: ($table-padding-vertical * .85);
$table-padding-horizontal: $table-padding;
$table-padding-horizontal-large: ($table-padding-horizontal * 1.25);
$table-padding-horizontal-small: ($table-padding-horizontal * .85);
$table-transitions: $transitions;
$table-transition-speed: $transition-speed;
$table-transition-property: $transition-property;

// Forms
$form-background-color: $background-color-default;
$form-borders: $borders;
$form-border-color: $border-color;
$form-border-style: $border-style;
$form-border-width: $border-width;
$form-border-width-large: $border-width-large;
$form-border-width-small: $border-width-small;
$form-border-radius: $border-radius;
$form-border-radius-large: $border-radius-large;
$form-border-radius-small: $border-radius-small;
$form-error-color: $color-danger;
$form-error-border-color: $form-error-color;
$form-error-background-color: false;
$form-focus: true;
$form-focus-color: $color-primary;
$form-helper-color: $color-default-light;
$form-helper-error-color: $form-error-color;
$form-hover: true;
$form-hover-color: $background-color-primary;
$form-label-color: $color-default;
$form-label-required-color: $form-error-color;
$form-padding: $padding-small;
$form-padding-horizontal: $form-padding;
$form-padding-horizontal-large: ($form-padding-horizontal * 1.25);
$form-padding-horizontal-small: ($form-padding-horizontal * .85);
$form-padding-vertical: ($form-padding * .85);
$form-padding-vertical-large: ($form-padding-vertical * 1.25);
$form-padding-vertical-small: ($form-padding * .85);
$form-transitions: $transitions;
$form-transition-speed: $transition-speed;
$form-transition-property: $transition-property;

$radio-checked-color: $color-primary;
$radio-size: ($form-padding * 2);
$radio-size-large: ($radio-size * 1.25);
$radio-size-small: ($radio-size * .85);

$checkbox-checked-color: $color-primary;
$checkbox-size: ($form-padding * 2);
$checkbox-size-large: ($checkbox-size * 1.25);
$checkbox-size-small: ($checkbox-size * .85);

// Alerts
$alert-borders: $borders;
$alert-border-style: $border-style;
$alert-border-width: $border-width;
$alert-border-radius: $border-radius;
$alert-padding: $padding-small;

// Progress
$progress-background-color: $background-color-default;
$progress-borders: $borders;
$progress-border-color: $border-color;
$progress-border-style: $border-style;
$progress-border-width: $border-width;
$progress-border-width-large: $border-width-large;
$progress-border-width-small: $border-width-small;
$progress-border-radius: $border-radius;
$progress-border-radius-large: $border-radius-large;
$progress-border-radius-small: $border-radius-small;
$progress-color: $color-default-lightest;

// Modals
$modal-background-color: $background-color-default;
$modal-borders: $borders;
$modal-border-color: $border-color;
$modal-border-style: $border-style;
$modal-border-width: $border-width;
$modal-border-radius: $border-radius;
$modal-padding: $padding;

// Accordions
$accordion-background-color-hover: $background-color-primary;
$accordion-borders: $borders;
$accordion-border-color: $border-color;
$accordion-border-style: $border-style;
$accordion-border-width: $border-width;
$accordion-padding: $padding-small;
$accordion-transitions: $transitions;
$accordion-transition-speed: $transition-speed;
$accordion-transition-property: $transition-property;

// Calendar
$calendar-weekend-color: $table-background-color-odd;