// Breakpoints
@function breakpoint-next($name, $breakpoints: $breakpoints, $breakpoint-names: map-keys($breakpoints)) {
	$n: index($breakpoint-names, $name);
	@return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-minimum($name, $breakpoints: $breakpoints) {
	$minimum: map-get($breakpoints, $name);
	@return if($minimum != 0, $minimum, null);
}

@function breakpoint-maximum($name, $breakpoints: $breakpoints) {
	$next: breakpoint-next($name, $breakpoints);
	@return if($next, breakpoint-minimum($next, $breakpoints) - 1px, null);
}

@mixin breakpoint-up($name, $breakpoints: $breakpoints) {
	$minimum: breakpoint-minimum($name, $breakpoints);
	@if $minimum {
		@media (min-width: $minimum) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin breakpoint-down($name, $breakpoints: $breakpoints) {
	$maximum: breakpoint-maximum($name, $breakpoints);
	@if $maximum {
		@media (max-width: $maximum) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin breakpoint-only($name, $breakpoints: $breakpoints) {
	@include breakpoint-up($name, $breakpoints) {
		@include breakpoint-down($name, $breakpoints) {
			@content;
		}
	}
}

@mixin breakpoint-between($lower, $upper, $breakpoints: $breakpoints) {
	@include breakpoint-up($lower, $breakpoints) {
		@include breakpoint-down($upper, $breakpoints) {
			@content;
		}
	}
}