// Grid
@mixin make-container {
	margin-left: auto;
	margin-right: auto;
	@if $container-spacing > 0 {
		padding-left: $container-spacing;
		padding-right: $container-spacing;
	}
	width: 100%;
}

@mixin make-container-sizes($breakpoints: $breakpoints) {
	@each $class, $breakpoint in $breakpoints {
	  &.#{$class} {
			max-width: $breakpoint;
		}
	}
}

@mixin make-grid {
	@if $flex {
		display: flex;
		flex-wrap: wrap;
	} @else {
		display: block;
		letter-spacing: -4px;
	}
	@if $grid-spacing > 0 {
		margin-left: -($grid-spacing / 2);
		margin-right: -($grid-spacing / 2);
	}
}

@mixin make-tile {
	@if not $flex {
		display: inline-block;
		letter-spacing: normal;
		vertical-align: top;
	}
	@if $grid-spacing > 0 {
		padding-left: ($grid-spacing / 2);
		padding-right: ($grid-spacing / 2);
	}
	position: relative;
	width: 100%;
}

@mixin make-tile-width($size, $grid-count) {
	@if $flex {
		flex: 0 0 percentage($size / $grid-count);
		max-width: percentage($size / $grid-count);
	} @else {
		width: percentage($size / $grid-count);
	}
}

@mixin make-tile-right($size, $grid-count) {
	left: if($size > 0, percentage($size / $grid-count), auto);
}

@mixin make-tile-left($size, $grid-count) {
	right: if($size > 0, percentage($size / $grid-count), auto);
}

@mixin make-tile-modifier($type, $size, $grid-count) {
	@if $type == right {
		@include make-tile-right($size, $grid-count);
	} @else if $type == left {
		@include make-tile-left($size, $grid-count);
	}
}

@mixin make-tiles($tiles: $grid-count, $breakpoints: $breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		@include breakpoint-up($breakpoint) {
			@for $i from 1 through $tiles {
				&.#{$breakpoint}-#{$i} {
					@include make-tile-width($i, $tiles);
				}
			}
			@each $modifier in (left, right) {
				@for $i from 0 through $tiles {
					&.#{$breakpoint}-#{$modifier}-#{$i} {
						@include make-tile-modifier($modifier, $i, $tiles)
					}
				}
			}
		}
	}
}

// Mosaic
@mixin mosaic($item-count, $item-width) {
	@for $i from 1 through $item-count {
		$min-width: (($item-width * ($i - 1)) + (($grid-spacing * ($i - 1)) + $grid-spacing)) + 1;
		$max-width: ($item-width * $i) + (($grid-spacing * $i) + $grid-spacing);
		$media-query: "(min-width: #{$min-width}) and (max-width: #{$max-width})";
		
		@if $i == 1 {
			$media-query: "(max-width : #{$max-width})";
		} @elseif $i == $item-count {
			$media-query: "(min-width : #{$min-width})";
		}

		@media #{$media-query} {
			@if $flex {
				flex: 0 0 percentage(1 / $i);
				max-width: percentage(1 / $i);
			} @else {
				width: percentage(1 / $i);
			}
		}
	}
}